html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
}

* {
  font-family: "Consolas";
  font-size: 96%;
  /*font-size: 12px;*/
}

.spacer {
  display: block;
  margin: 15px;
}

/* ============= HEADER PAGE ============= */

#header-page button {
  margin: 5px 5px;
  padding: 5px;
  opacity: 0.8;
  font-size: 130%;
}

#header-page h2 {
  text-align: center;
  color: black;
  font-size: 200%;
  /* -webkit-text-stroke: 0.2px white; */
}

#header-page nav {
  text-align: center;
  margin-bottom: 20px;
}

#header-page a {
  text-decoration: none;
  color: black;
  cursor: default;
}

#header-page {
  /*background-color: #289B7D;*/
  background-color: lightseagreen;
  /* border: 1px solid transparent;
  display: block;*/
  padding-top: 1px;
  position: relative;
}

#header-page table {
  margin: 0 auto;
}

#header-page img {
  width: 150px;
  /*float: left;
  margin: 25px;*/
  display: inline;
  float: left;
  margin-right: 30px;
}

#header-page hr {
  /* border-width: 2px; */
  margin-bottom: 20px;
}

/* ============= CONNECTION PAGE ============= */

#connection-page label {
  display: block;
  background-color: lightgrey;
  margin: 20px;
  padding: 10px;
  /* box-sizing: border-box; */
  border: 1px solid lightgray;
}

#connection-page input[type="radio"]:checked+label{ 
  background-color: lightseagreen;
  color: white;  
} 

#connection-page input[type="radio"]:hover + label { 
  
  border: 1px solid darkgray;
} 

#connection-page input[type="radio"] {
  display: none;
}

/* ============= COMMAND PAGE ============= */

#command-page main {
  text-align: center;
}

#command-page button {
  padding: 7px 15px;
  margin: 5px;
}

#command-page input {
  width: 50%;
  padding: 7px;
  margin: 5px;
}

#command-page textarea {
  width: 90%;
  height: 200px;
  margin-top: 5px;
}

/* ============= AUTOTEST PAGE ============= */

#autotest label input {
  width: 40px;
  height: 5px;
  border: 0;
  font-weight: bold;
  /* background-color: lightgrey; */
}

#autotest label {
  border: 1px solid #F0F0F0;
  margin: 8px;
  padding: 2px 0px 2px 8px;
  display: inline-block;
  
}

#autotest input {
  width: 300px;
  padding: 10px;
}

#autotest #scanner {
  margin-top: 22px;
  width: 70%;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  color: black;
}

/* ============= AUTOTEST TABLE PAGE ============= */

#autotesttable div {
  height: 250px;
  width: 90%;
  overflow-y: scroll;
  margin: 30px auto;
  text-align: center;
  border: 0px groove;
}

#autotesttable table {
  width: 100%;
  border: 0;
}

#autotesttable table th {
  position: sticky;
  top: 0;
  background: #999;
  padding: 4px;
}

#autotesttable table button {
  border: 1px solid lightgray;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

#autotesttable table button:hover {
  border: 1px solid black;
  background-color: red;
  color: black;
}

#autotesttable table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#autotesttable table tr:hover {
  background-color: lightseagreen;
}

#autotesttable button {
  font-size: 130%;
}

@-o-keyframes fadeIt {
  0%   { background-color: #f2f2f2; }
  50%  { background-color: lightseagreen; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #f2f2f2; }
  50%  { background-color: lightseagreen; }
  100% { background-color: #FFFFFF; }
}

.backgroundAnimated{    
    background-image:none !important; 
         -o-animation: fadeIt 2s ease-in-out infinite normal;
            animation: fadeIt 2s ease-in-out infinite normal;
}


/* ============= PIM PAGE ============= */



#pim-page label input {
  width: 40px;
  height: 5px;
  border: 0;
  font-weight: bold;
  /* background-color: lightgrey; */
}

#pim-page label {
  border: 1px solid #F0F0F0;
  margin: 8px;
  padding: 2px 0px 2px 8px;
  display: inline-block;
  
}

#pim-page main {
  text-align: center;
}

#pim-page button {
  padding: 7px 15px;
  margin: 5px;
}

#pim-page input {
  width: 50%;
  padding: 7px;
  margin: 5px;
}

#pim-page textarea {
  width: 90%;
  height: 200px;
  margin-top: 5px;
}